<div class="row">
  <div class="header-title col-10">
    <a class="site-title" href="\{\{ relative_url \}\}/">\{\{ site.title \}\}</a>
  </div>
  <div class="header-icons col-2">
    <a href="\{\{'pattern-index.html' | relative_url \}\}" ><img src="\{\{ '/icons/list-ul.svg' | relative_url \}\}" class="icon" title="Alfabetisk lista över alla mönster." alt="mönsterförteckning" /></a>
    <a href="\{\{'map.html' | relative_url \}\}" ><img src="\{\{'/icons/map.svg' | relative_url \}\}" class="icon" alt="mönsterkarta" title="Använd mönsterkartan för att hoppa till ett annat mönster." /></a>
    <span id="annotate-span"><a href="" id="annotate-link"><img src="\{\{ '/icons/comments-alt.svg' | relative_url \}\}" class="icon" title="Kommentera denna sida med hjälp av 'hypothes.is'. Klicka här, vänta på att sidan laddar om, sedan kan du markera text och lägga till offentliga kommentarer. Du måste först sätta upp ett gratiskonto på 'hypothes.is'." alt="kommentera på sidan" /></a></span>
  </div>
</div>
